log*
checkpoint.pt
fullytrained.pt
*.sh
preprocess_data_*


*.sublime-workspace
*.sublime-project


docs/
data/
data_opp/
data_fog/
__pycache__/
.ipynb_checkpoints/

[pP]apers/*.pdf
ignore/

.vscode/
.DS_Store
.DS_Store/